<a href="https://colab.research.google.com/github/Harish-aditya/Codekata-problems/blob/main/codekataproblems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
x = int(input())
y = input()

4
1 2 3 4

In [ ]:
y = y.split(' ')
y = [int(i) for i in y]

In [ ]:
y1 = np.array(y)

In [ ]:
y1

array([1, 2, 3, 4])

In [ ]:
y2 = np.sort(y1)

In [ ]:
np.array_equiv(y1,y2)

True

In [ ]:
op = y1 == y2

In [ ]:
np.count_nonzero(op)

4

In [ ]:
# Python program to
# compute sum of digits in
# number.

# Function to get sum of digits
def getSum(n):
	sum = 0
	for digit in str(n):
   return sum
	 return sum

n = 12345
print(getSum(n))

IndentationError: ignored

In [ ]:
n = input()
n = [int(i) for i in n.split(' ')]
sum = 1
for i in range(0,len(n)):
    sum &= n[i] 
print(sum)

1 1 1 1 1
1

In [ ]:
n = input()
n = [int(i) for i in n.split(' ')]
sum = 0
for i in range(0,len(n)):
    sum = sum | n[i] 
print(sum)

4 3 2 1
7

Given 2 numbers N and K followed by N elements,print the number of repetition of K otherwise print '-1' if the element not found.
Sample Testcase :
INPUT
6 2
1 2 3 5 7 8
OUTPUT
0

In [ ]:
n = input()
k = input()
n = [int(i) for i in n.split(' ')]
k = [int(i) for i in k.split(' ')]
value = 0
for i in k:
  if i == n[1]:
    value += 1
  else:
    pass
    
if value >= 2:
  print(value)
else:
  print(-1)

6 2
1 2 3 4 5 6 2
<built-in function sum>

Write a code to get a integer n as input and calculate the smallest perfect power of 2 greater than n.

Input Description:
A single line containing an integer,n.

Output Description:
Print the smallest perfect power of 2 greater than n.

Sample Input :
48
Sample Output :
64

In [ ]:
n = int(input())
for i in range(100):
  if 2**i<n:
    pass
  else:
    print(2**i)
    break

24
32

In [ ]:
s = input()
s = s.split(" ")
x = []

for i in range(len(s)):
    if i%2 == 0:
        x.append(s[i].upper())
    else:
        x.append(s[i])
print(' '.join(x))

ab xb xy
AB xb XY

Given 3 numbers A,B,C print 'yes' if they can form the sides of a scalene triangle else print 'no'.
Input Size : A,B,C <= 100000
Sample Testcase :
INPUT
3 4 5
OUTPUT
yes

In [ ]:
n = input()
n = [int(i) for i in n.split(' ')]
if n[0]!=n[1]!=n[2]:
  print('yes')
else:
  print('no')

Given a string 'S' swap the even and odd characters starting from index 1(Assume the index starts from 0).
Input Size : |s| <= 10000000(complexity O(n))
Sample Testcase :
INPUT
codekata
OUTPUT
ocedakat

In [ ]:
n = input()
n = [i for i in n]
for i in range(len(n)):
  if i%2 == 0:
    n[i-1] = n[i]
  else:
    n[i] = n[i+1]
print(n)

print
['p', 'i', 'i', 'p', 'p']

You are given with an circular array .Your task is calculate the difference between two consecutive number. And if difference is greater than ‘k’, print 1 else print 0

Input Description:
You are given two numbers ‘n’, ’m’. Next line contains n space separated integers.

Output Description:
Print 1 if the difference is greater than ‘m’.

Sample Input :
5 15
50 65 85 98 35
Sample Output :
0 1 0 1 0

In [ ]:
n = input()
n = [int(i) for i in n.split(' ')]
k = n[1]
m = input()
m = [int(i) for i in m.split(' ')]
op = []

for i in range(n[0]-1):
    if abs(m[i] - m[i+1]) > k:
        op.append('1')
    else:
        op.append('0')
if abs(m[-1] - m[0]) > k:
    op.append('1')
else:
    op.append('0')

for i in range(n[0]-1):
    print(op[i],end = " ")

5 15
50 65 85 98 35
0 1 0 1

you are given with ‘arasu’ series(shown in example).You have to understand it and you will be given a number ‘n’ ,you have to print the series till n numbers.

Input Description:
You are given a number n;

Output Description:
Print series till nth number

Sample Input :
4
Sample Output :
2 5 10 17

In [ ]:
x = int(input())
op = [2]
for i in range(1,x+1):
  y = op[-1]+(2*i+1)
  op.append(y)
for i in range(0,len(op)-2):
  print(op[i],end = ' ')
print(op[-2])

4
2 5 10 17

Given a number N, check whether it is prime or not. Print 'yes' if it is prime else print 'no'.
Sample Testcase :
INPUT
123
OUTPUT
no

In [ ]:
num = int(input())

if num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print("no")
           break
   else:
       print("yes")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print("no")

123
no

In a world cup tournament,no of goals scored by each team is given to you. Your task is to calculate net goal rate of each team.

Net goal rate of team is calculated

 

No of goals(team)- sum of(no of goals by last 3 teams)

Input Description:
You are given a number ‘n’.Next line contains n space separated numbers.

Output Description:
Print the net goal rate of each team

Sample Input :
5
95 85 75 12 11
Sample Output :
-3 -13 -23 -86 -87

In [ ]:
n = int(input())
goals = input()
goals = [int(i) for i in goals.split(' ')]
op = []
for i in goals:
  y = sum(goals[-3:-1])-i
  goals.append(i)
  print(goals)
  goals.pop(0)
  op.append(y)
print(op)

5
95 85 75 12 11
[95, 85, 75, 12, 11, 95]
[85, 75, 12, 11, 95, 75]
[75, 12, 11, 95, 75, 11]
[12, 11, 95, 75, 11, 75]
[11, 95, 75, 11, 75, 75]
[-8, -52, 95, 95, 11]

Given a number N, print its factors.
Input Size : n<=1000
Sample Testcase :
INPUT
6
OUTPUT
1 2 3 6

In [ ]:
num = int(input())
op = []
for i in range(1,num+1):
  if num % i == 0:
    op.append(str(i))

print(' '.join(op))

6
1 2 3 6

Given a number N, print the product of the digits.
Input Size : N <= 100000000000
Sample Testcase :
INPUT
2143
OUTPUT
24

In [ ]:
n = input()
n = [int(i) for i in n]
prod = 1
for i in n:
  prod *= i
print(prod)

2134
24

Given a number N followed by N elements which can be arranged in ascending order with maximum one element update. Print the index of the element which has to be changed else print '-1' if the updation not neccassary or if the given input needs more than one update to form ascending order.
Sample Testcase :
INPUT
7
1 2 4 3 5 6 8
OUTPUT
2
Sample Testcase :
INPUT
5
1 10 3 14 5
OUTPUT
-1

In [ ]:
n = int(input())
N = input()
print(N)

7
1 2 4 3 5 6 8
1 2 4 3 5 6 8

In [ ]:
n = input()
if len(n)%2 == 0:
  print(1)
else:
  print(0)

{{{}}}
1

Given a number N and an array of N integers, find the sum of all the negative numbers in the array.
Input Size : N <= 100000
Sample Testcase :
INPUT
2
3 0
OUTPUT
0

In [ ]:
n = int(input())
N = input()
N = [int(i) for i in N.split(' ')]
sum = 0
for i in range(n):
  if N[i] < 0:
    sum += N[i]
  else:
    pass
print(sum)

2
-3 2
-3

Given 3 numbers A,B,C find the sum of Arithmetic Series with a=A, d=B and n=C
Sample Testcase :
INPUT
1 1 2
OUTPUT
3

In [ ]:
N = input()
N = [int(i) for i in N.split(' ')]
a = N[0]
d = N[1]
n = N[2]

sum = (n/2)*(2*(a)+(n-1)*d)
print(int(sum))

3 3 7
84.0

Given length L and breadth B of a farm, print the area of the farm upto 5 decimal decimals.
Sample Testcase :
INPUT
1.626 2.31
OUTPUT
3.75606

In [ ]:
n = input()
n = [float(i) for i in n.split(' ')]
a = n[0]*n[1]
print("{:.5f}".format(a))

2.5432 6.7654
17.20577

Write a program to calculate the total surface area and volume of cuboid. Input contains three space separated positive integers L, B, H denoting the length, width and height of cuboid respectively.
Sample Testcase :
INPUT
1 2 3
OUTPUT
22 6

In [ ]:
n = input()
n = [int(i) for i in n.split(' ')]
a = n[0]
b = n[1]
c = n[2]
TSA = 2*(a*b)+2*(b*c)+2*(a*c)
vol = a*b*c
print(TSA,end = ' ')
print(vol)

1 2 3
22 6

Given a string, print the least repeated characters in the string.If there are more than one character repeated preserve the order as in the input.
Input Size : 1 <= N <= 100000
Sample Testcase :
INPUT
codeKata challenge
OUTPUT
odKthng

In [9]:
s = input()
s = [i for i in s]
if " " in s:
  s.remove(" ")
else:
  pass
for i in s:
  if s.count(i) == 1:
    print(i,end="")
  else:
    pass

gggguvi
uvi

Given a string print reverse all words except the first and last words.
Sample Testcase :
INPUT
Hi how are you
OUTPUT
Hi woh era you

In [13]:
s = input()
s = [i for i in s.split(' ')]
for i in range(len(s)):
  if i == 0 or i == len(s)-1:
    pass
  else:
    s[i] = s[i][::-1]
print(" ".join(s))

hi how are you
hi woh era you

You are given with string of words,we have to arrange them in reverse saturated order.

Input Description:
You are given a string ‘s’.

Output Description:
Print the reverse saturated order

Sample Input :
I am kohli fan
Sample Output :
I ma ilhok naf

In [ ]:
s = input()
s = [i for i in s.split(' ')]
for i in range(len(s)):
    s[i] = s[i][::-1]
print(" ".join(s))

Given a sentence interchange the between the word 'and'.
Input Size : |S| <= 1000000
Sample Testcase :
INPUT
jack and jill went up and down to get water
OUTPUT
jill and jack went down and up to get water

In [16]:
s = input()
s = [i for i in s.split(' ')]
for i in range(len(s)):
  if s[i] == 'and':
    x = s[i-1]
    y = s[i+1]
    s[i+1] = x
    s[i-1] = y
  else:
    pass
print(" ".join(s))

jill and jack went down and up
jack and jill went up and down