<a href="https://colab.research.google.com/github/Harish-aditya/Codekata-problems/blob/main/codekataproblems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
x = int(input())
y = input()

4
1 2 3 4

In [ ]:
y = y.split(' ')
y = [int(i) for i in y]

In [ ]:
y1 = np.array(y)

In [ ]:
y1

array([1, 2, 3, 4])

In [ ]:
y2 = np.sort(y1)

In [ ]:
np.array_equiv(y1,y2)

True

In [ ]:
op = y1 == y2

In [ ]:
np.count_nonzero(op)

4

In [ ]:
# Python program to
# compute sum of digits in
# number.

# Function to get sum of digits
def getSum(n):
	sum = 0
	for digit in str(n):
   return sum
	 return sum

n = 12345
print(getSum(n))

IndentationError: ignored

In [ ]:
n = input()
n = [int(i) for i in n.split(' ')]
sum = 1
for i in range(0,len(n)):
    sum &= n[i] 
print(sum)

1 1 1 1 1
1

In [ ]:
n = input()
n = [int(i) for i in n.split(' ')]
sum = 0
for i in range(0,len(n)):
    sum = sum | n[i] 
print(sum)

4 3 2 1
7

Given 2 numbers N and K followed by N elements,print the number of repetition of K otherwise print '-1' if the element not found.
Sample Testcase :
INPUT
6 2
1 2 3 5 7 8
OUTPUT
0

In [ ]:
n = input()
k = input()
n = [int(i) for i in n.split(' ')]
k = [int(i) for i in k.split(' ')]
value = 0
for i in k:
  if i == n[1]:
    value += 1
  else:
    pass
    
if value >= 2:
  print(value)
else:
  print(-1)

6 2
1 2 3 4 5 6 2
<built-in function sum>

Write a code to get a integer n as input and calculate the smallest perfect power of 2 greater than n.

Input Description:
A single line containing an integer,n.

Output Description:
Print the smallest perfect power of 2 greater than n.

Sample Input :
48
Sample Output :
64

In [ ]:
n = int(input())
for i in range(100):
  if 2**i<n:
    pass
  else:
    print(2**i)
    break

24
32

In [ ]:
s = input()
s = s.split(" ")
x = []

for i in range(len(s)):
    if i%2 == 0:
        x.append(s[i].upper())
    else:
        x.append(s[i])
print(' '.join(x))

ab xb xy
AB xb XY

Given 3 numbers A,B,C print 'yes' if they can form the sides of a scalene triangle else print 'no'.
Input Size : A,B,C <= 100000
Sample Testcase :
INPUT
3 4 5
OUTPUT
yes

In [ ]:
n = input()
n = [int(i) for i in n.split(' ')]
if n[0]!=n[1]!=n[2]:
  print('yes')
else:
  print('no')

Given a string 'S' swap the even and odd characters starting from index 1(Assume the index starts from 0).
Input Size : |s| <= 10000000(complexity O(n))
Sample Testcase :
INPUT
codekata
OUTPUT
ocedakat

In [ ]:
n = input()
n = [i for i in n]
for i in range(len(n)):
  if i%2 == 0:
    n[i-1] = n[i]
  else:
    n[i] = n[i+1]
print(n)

print
['p', 'i', 'i', 'p', 'p']