## string = 4,5,6,8,9,10,14,15,17,19,22,24,25,26,27,28,29,30,31,32,38,40,41,42,43,44,45,46,47,48,56,57,58,60,62,63,65,66,67,69,70,71,72,74


## numbers = 2,3,4,5,6,7,8,11,12,15,

You are given with an circular array .Your task is calculate the difference between two consecutive number. And if difference is greater than ‘k’, print 1 else print 0

Input Description:
You are given two numbers ‘n’, ’m’. Next line contains n space separated integers.

Output Description:
Print 1 if the difference is greater than ‘m’.

Sample Input :
5 15
50 65 85 98 35
Sample Output :
0 1 0 1 0

In [ ]:
import numpy as np

In [ ]:
x = input()
y = input()
x = [int(i) for i in x.split(' ')]
y = [int(i) for i in y.split(' ')]

In [ ]:
len(x)

2

In [ ]:
def array_dif(a,b):
    Total_numbers = a[0]
    if Total_numbers != len(y):
        print('Enter the total number:')
    else: 
        pass
    difference = a[1]
    y_array = b
    op_array = []
    for i in range(len(y_array)):
        if y_array[i+1]-y_array[i] == difference:
            op_array = op_array.append(1)
        else:
            op_array = op_array.append(0)
    return op_array

In [ ]:
array_dif(x,y)

IndexError: list index out of range

In [ ]:
Total_numbers = x[0]
if Total_numbers != len(y):
    print('Enter the total number:')
else: 
    pass
difference = x[1]
y_array = np.array(y)
op_array = []
for i in range(len(y_array)):
    if y_array[i+1]-y_array[i] == difference:
        op_array.append[1]
    else:
        op_array.append[0]

TypeError: 'builtin_function_or_method' object is not subscriptable

Given a number N, print 'yes' if it is composite else print 'no'.
Sample Testcase :
INPUT
123
OUTPUT
yes

In [ ]:
num=int(input())
count=0
for a in range(2,num):
    if num%a==0:
        count+=1
if count>1:
    print("yes")
else:
    print('no')

yes

Given 2 numbers N and M add both the numbers and check whether the sum is odd or even.
Sample Testcase :
INPUT
9 2
OUTPUT
odd

In [ ]:
x = input()
x = [int(i) for i in x.split(' ')]
y = x[0]+x[1]
if y%2 == 0:
    print('even')
else:
    print('odd')

odd

Given 3 numbers A,B,C process and print 'yes' if they can form the sides of a triangle otherwise print 'no'.
Input Size : A,B,C <= 100000
Sample Testcase :
INPUT
3 4 5
OUTPUT
yes

In [ ]:
x = input()
x = [int(i) for i in x.split(' ')]
s1 = x[0]
s2 = x[1]
s3 = x[2]
if s1+s2 > s3 and s2+s3 > s1 and s3+s1 >s2:
    print('yes') 
else:
    print('no')

yes

Given an array of N elements switch(swap) the element with the adjacent element and print the output.
Sample Testcase :
INPUT
5
3 2 1 2 3
OUTPUT
2 3 2 1 3

Given 3 numbers N , L and R. Print 'yes' if N is between L and R else print 'no'.
Sample Testcase :
INPUT
3
2 6
OUTPUT
yes

In [ ]:
x = int(input())
y = input()
y = [int(i) for i in y.split(' ')]
L,R = y[0],y[1]
if L< x < R:
    print('yes')
else:
    print('no')

yes

Given 3 numbers A,B,C print 'yes' if they can form the sides of a right angled triangle,otherwise 'no'.
Input Size : A,B,C <= 100000
Sample Testcase :
INPUT
3 4 5
OUTPUT
yes

In [ ]:
x = input()
x = [int(i) for i in x.split(' ')]
s1 = min(x)
s3 = max(x)
for i in x:
    if i != s1 and i!= s3:
        s2 = i
    else:
        pass
# s2 = x.pop()
if s1**2+s2**2==s3**2:
    print('yes') 
else:
    print('no')

yes

Kabali is a brave warrior who with his group of young ninjas moves from one place to another to fight against his opponents. Before Fighting he just calculates one thing, the difference between his ninja number and the opponent's ninja number. From this difference he decides whether to fight or not. Kabali's ninja number is never greater than his opponent.
Input
The input contains two numbers in every line. These two numbers in each line denotes the number ninjas in Kabali's clan and his opponent's clan . print the absolute difference of number of ninjas between Kabali's clan and his opponent's clan. Each output should be in seperate line.
Sample Testcase :
INPUT
100 200
OUTPUT
100

In [ ]:
n = input()
n = [int(i) for i in n.split(' ')]

print(abs(n[0] - n[1]))

100

Given 2 numbers N,M find the GCD of N and M.If it cannot be found for given number(s) then print -1
Sample Testcase :
INPUT
10 5
OUTPUT
5

In [ ]:
n = input()
n = [int(i) for i in n.split(' ')]
s1 = min(n)
s2 = max(n)
import math
print(math.gcd(s1, s2))

1

In [ ]:
#A python program to illustrate Caesar Cipher Technique
def encrypt(text,s):
	result = ""

	# traverse text
	for i in range(len(text)):
		char = text[i]

		# Encrypt uppercase characters
		if (char.isupper()):
			result += chr((ord(char) + s-65) % 26 + 65)

		# Encrypt lowercase characters
		else:
			result += chr((ord(char) + s - 97) % 26 + 97)

	return result

#check the above function
text = "ATTACKATONCE"
s = 4
print ("Text : " + text)
print ("Shift : " + str(s))
print ("Cipher: " + encrypt(text,s))

Text : ATTACKATONCE
Shift : 4
Cipher: EXXEGOEXSRGI

 Jennyfer is fond of strings. She wants to read the character from right to left (reverse the string), so she wants you to design a suitable algorithm which satisfy her desire.

Input Description:
Enter the string ‘s’

Output Description:
Print the string from characters right to left.

Sample Input :
jennyfer
Sample Output :
Refynnej

In [ ]:
s = input()
vowels = ['a','e','i','o','u']
s = [i for i in s]
# print(s)

for i in range(len(s)):
    if s[i].lower() in vowels:
        pass
    else:
        print(s[i], end="")

Jnnfr

Write a program to get a string S, Type of conversion (1 - Convert to Lowercase, 2 - Convert to Uppercase) T, and integer P . Convert the case of the letters in the positions which are multiples of P.(1 based indexing).

Input Description:
Given a string S, Type of conversion T, and integer P

Output Description:
Convert the case of the letters and print the string

Sample Input :
ProFiLe
1
2
Sample Output :
Profile

In [ ]:
s = input()
s = [i for i in s]
t = int(input())
p = int(input())

for i in range(len(s)):
    i = i+1
    # print(i)
    if i%p == 0 and t == 1:
        s[i-1] = s[i-1].lower()
    elif i%p == 0 and t == 2:
        s[i-1] = s[i-1].upper()
    print(s[i-1],end = '')

PROFILE
PrOfIlE

Joyal was given a sentence. His task is to delete the two words that comes together and print the sentence so that the words in the output sentence have distinct words compared to their adjacent words. If no words are present in the output sentence print -1

Input Description:
You are given input string 'S'

Output Description:
Print the all the words that are left in the string 's' so that the words in the output sentence have distinct words compared to their adjacent words. Print -1 if no words are left

Sample Input :
I am john cena cena john
Sample Output :
I am

In [ ]:
s = input()
s = s.split(" ")
print(s)
arr = []
for i in range(len(s)):
    if s[i] not in arr:
        arr.append(s[i])
        if i > 0:
            if arr[i] == arr[i - 1]:
                arr.remove(arr[i])
    else:
        arr.remove(s[i])

print(' '.join(map(str, arr)))

['we', 'love', 'we', 'love']

You are given with a string which comprises of some numbers. Your task is to find the largest integer by converting the string to the corresponding integer.

Input Description:
First line contains n denoting number of Test Cases. The first and only Line of testcase has the string

Output Description:
Print the largest number

Sample Input :
 I was born on 12 october 1998.
Sample Output :
1998

In [ ]:
s = input()
# s = [i for i in s]
s = s.split(' ')
# print(s)
arr = []

for i in range(len(s)):
    if s[i].isnumeric():
        arr.append(int(s[i]))
    elif '.' in s[i] and s[i][:-1].isnumeric() :
        arr.append(int(s[i][:-1]))
# print(arr)
print(max(arr))

98

In [ ]:
x = '.'
x.isnumeric()

False

Given a string 'S' swap the even and odd characters starting from index 1(Assume the index starts from 0).
Input Size : |s| <= 10000000(complexity O(n))
Sample Testcase :
INPUT
codekata
OUTPUT
ocedakat

In [ ]:
from heapq import merge


s = input()
s = [i for i in s]
print(s)
p =[]
q = []
for i in range(len(s)):
    if i%2 == 0:
        p.append(s[i])
    else:
        q.append(s[i])

op = [item for sublist in zip(q, p) for item in sublist]
print(op)
# for i in range(len(p)):
#     if len(p)%2==0:
#         op.append(q[i])
#         op.append(p[i])
#     else:
#         pass
for i in range(len(op)):
    print(op[i],end='')

['p', 'r', 'i', 'f']
['r', 'p', 'f', 'i']
rpfi

Given a string S consisting of 2 words reverse the order of two words .
Input Size : |S| <= 10000000
Sample Testcase :
INPUT
hello world
OUTPUT
world hello

In [ ]:
n = input()
n = [i for i in n.split(' ')]
print(n)
n.reverse()

print(' '.join(n))

['hello', 'world']
world hello

Given a number N followed by N numbers.Find the smallest number and largest number and print both the indices(1 based indexing).
Input Size : N <= 100000
Sample Testcase :
INPUT
5
1 2 3 4 5
OUTPUT
1 5

In [ ]:
n = int(input())
p = input()
p = [int(i) for i in p.split(' ')]
m1 = max(p)
m2 = min(p)
print(p.index(m2)+1,p.index(m1)+1)

5

In a firm there is an intelligent employee. He said that he will not work on all those days which has factors more than 2. You are given with month and year calculate the no of working days of employee.

Input Description:
Month(M) and year(Y)

Output Description:
N denoting no of working days

Sample Input :
May 2016
Sample Output :
11

Check whether the given 4 points form a square or not.
Example:
INPUT
10 10
10 20
20 20
20 10
OUTPUT
yes

In [ ]:
import math
# a = input()
# b = input()
# c = input()
# d = input()
# a = [int(i) for i in a.split()]
# b = [int(i) for i in b.split()]
# c = [int(i) for i in c.split()]
# d = [int(i) for i in d.split()]
# p = [a,b,c,d]
# for i in range(len(p)):
#     x = p[i]
#     y = p[i+1]
#     if math.dist(x,y) == math.dist(y,x):
#         print("Yes")
#     else:
#         print("no")
    
# print(math.dist(a,b))
# print(math.dist(c,d))
# A Python3 program to check if
# four given points form a square or not.
# class Point:
	
# 	# Structure of a point in 2D space
# 	def __init__(self, x, y):
# 		self.x = x
# 		self.y = y

# # A utility function to find square of
# # distance from point 'p' to point 'q'
# def distSq(p, q):
# 	return (p.x - q.x) * (p.x - q.x) +\
# 		(p.y - q.y) * (p.y - q.y)

# This function returns true if (p1, p2, p3, p4)
# form a square, otherwise false
def isSquare(p1, p2, p3, p4):

	d2 = math.dist(p1, p2) # from p1 to p2
	d3 = math.dist(p1, p3) # from p1 to p3
	d4 = math.dist(p1, p4) # from p1 to p4

	if d2 == 0 or d3 == 0 or d4 == 0:
		return False

	# If lengths if (p1, p2) and (p1, p3) are same, then
	# following conditions must be met to form a square.
	# 1) Square of length of (p1, p4) is same as twice
	# the square of (p1, p2)
	# 2) Square of length of (p2, p3) is same
	# as twice the square of (p2, p4)

	if d2 == d3 and 2 * d2 == d4 and \
					2 * math.dist(p2, p4) == math.dist(p2, p3):
		return True

	# The below two cases are similar to above case
	if d3 == d4 and 2 * d3 == d2 and \
					2 * math.dist(p3, p2) == math.dist(p3, p4):
		return True

	if d2 == d4 and 2 * d2 == d3 and \
					2 * math.dist(p2, p3) == math.dist(p2, p4):
		return True

	return False

# Driver Code

p1 = input()
p2 = input()
p3 = input()
p4 = input()
p1 = [int(i) for i in p1.split()]
p2 = [int(i) for i in p2.split()]
p3 = [int(i) for i in p3.split()]
p4 = [int(i) for i in p4.split()]
if isSquare(p1, p2, p3, p4):
	print('Yes')
else:
	print('No')

# This code is contributed by Mayank Chaudhary
# aka chaudhary_19

No

You are an employee of ‘Rox Travel’ channel.The channel has decided to give allowances to some customer who satisfy these conditions. The conditions are:

The customer should be born on or before july 22 1987

The month of D.O.B month should be of 31 days.

You are given with the D.O.B of all the employees.Your task is to print the employee index who are having chance to avail special offer.

Input Description:
First line contains the number of employee.Next line contains an array of D.O.B of employees

Output Description:
Print the employee index (index at 1). Print-1 if there are no such employee

Sample Input :
Input
4
23 MARCH 1996 23 MARCH 1986 22 JULY 1987 23 APRIL 1987
Sample Output :
2 3

In [ ]:
# import numpy as np
s = int(input())
d = input()
d = [i for i in d.split()]
# d = np.array(d)
month = d[1::3]
day = d[0::3]
day = [int(i) for i in day]
year = d[2::3]
year = [int(i) for i in year]
# print(month)
 
def mtn(x):
    months = {
        'jan': 1,
        'feb': 2,
        'mar': 3,
        'apr':4,
         'may':5,
         'jun':6,
         'jul':7,
         'aug':8,
         'sep':9,
         'oct':10,
         'nov':11,
         'dec':12
        }
    a = x.strip()[:3].lower()
    try:
        ez = months[a]
        # print (ez)
    except:
        raise ValueError('Not a month')
    return ez

for i in range(len(month)):
    month[i] = mtn(month[i])
    # print(mtn(month[i]))

# print(month,day,year)
output =[ ]
for i in range(s):
    if day[i]>22 and (month[i] >= 7 or month[i] in [2,4,6]) and year[i] == 1987:
        continue
        # print('if')
    elif month[i] in [1,3,5,7,8,10,12] and year[i]<=1987:
        # print('elif')
        output.append(i+1)

output = " ".join([str(i) for i in output])
print(output)    
# 4
# 23 MARCH 1996 23 MARCH 1986 22 JULY 1987 23 APRIL 1987

4
23 MARCH 1996 23 MARCH 1986 22 JULY 1987 23 APRIL 1987
elif
elif
[1, 2]

In [ ]:
mtn('march')

3

Write a program to get a list of integers as input and find the LCM of the values without using GCD

Input Description:
First line contains an integer N, number of values. Second line contains N space separated values.

Output Description:
Print the LCM of the values.

Sample Input :
1 2 3 4 5
Sample Output :
60

In [ ]:
import numpy as np

n = input()
n = [int(i) for i in n.split(' ')]
print(np.lcm.reduce(n))

6

You are given an array of digits. Your task is to print the digit with maximum frequency.

Input Description:
You are given length of array ’n’,next line contains n space separated numbers.

Output Description:
Print the number with maximum frequency. If two number have equal freqency prin the number that comes first

Sample Input :
7
1 2 3 4 4 4 5
Sample Output :
4

In [ ]:
n = int(input())
arr = input()
arr = [int(i) for i in arr.split(' ')]
arr = np.array(arr)
unique, counts = np.unique(arr, return_counts=True)

op = dict(zip(unique, counts))
print(op)

for i in (arr):
    great = 0
    if len(arr[arr==i]) > great:
        great = i
    else:
        great = is

{1: 1, 2: 1, 3: 1, 4: 3, 5: 1}

TypeError: object of type 'numpy.int32' has no len()

Ramesh is given a special series to print,as he has some other work to do.Help ramesh in printing the series.

 

Note:Observe the series very keenly in examples

Input Description:
You are given a number ‘n’.

Output Description:
Print the n term of series.

Sample Input :
6
Sample Output :
1 6 120

In [ ]:
n = int(input())
if n > 5:
  print(int(n/n), n, n*20)
else:
  print(int(n/n),n*2)

3
1 6

A ‘zx’ number is a number which is formed from the sum of 3 numbers ,and the three numbers are such that their hcf equal to 1.

You are given a number.You have to tell whether the number is ‘zx’ or not,if yes then print the three numbers else 0

Input Description:
You are given a number ‘n’

Output Description:
Print the three numbers if n is ‘zx’ number in ascending order else 0

Sample Input :
7
Sample Output :
2 3 2

In [ ]:
n = int(input())
if n % 2 == 0:
  pass
else:
  print(0)
mean = n/2
print(mean)

7
0
3.5

In a firm there is an intelligent employee. He said that he will not work on all those days which has factors more than 2. You are given with month and year calculate the no of working days of employee.

Input Description:
Month(M) and year(Y)

Output Description:
N denoting no of working days

Sample Input :
May 2016
Sample Output :
11

In [ ]:
d = input()
d = [i for i in d.split(' ')]
def mtn(x):
    months = {
        'jan': 1,
        'feb': 2,
        'mar': 3,
        'apr':4,
         'may':5,
         'jun':6,
         'jul':7,
         'aug':8,
         'sep':9,
         'oct':10,
         'nov':11,
         'dec':12
        }
    a = x.strip()[:3].lower()
    try:
        ez = months[a]
        # print (ez)
    except:
        raise ValueError('Not a month')
    return ez


m = mtn(d[0])
if m in [1,3,5,7,8,10,12]:
  days = 31
elif m in [4,6,9,11]:
  days = 30
else:
  days = 29
count = 0
for num in range(2, days + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           count += 1
print(count)

May 298
11

Simi is learning about palindromic numbers. Her teacher gave him the task to count all palindromic numbers present in that range.Simi has told you about this and want your help. You design an algorithm in order to help simi.

Input Description:
You will be given a number ‘n’

Output Description:
Print the count of all palindromic numbers till ‘n’(inclusive)

Sample Input :
5
Sample Output :
5

In [ ]:
import copy
n = int(input())
num = []
for i in range(1,n+1):
  num.append(i)
count = 0
for i in num:
  if str(i) == str(i)[::-1]:
    count += 1
  else:
    pass
print(num)
print(count)

10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
9

Assume your brother studies in class 2. He has to  complete his homework on co-primes. As an elder sibling help him in finding whether the given two numbers is co-prime or not.

Input Description:
You will be given two numbers ‘n’ and ‘m’

Output Description:
Your task is to tell whether numbers is co prime or not. If it is a co-prime print 1 else 0

Sample Input :
3 5
Sample Output :
1

In [ ]:
n = input()
n = [int(i) for i in n.split(' ')]
def gcd(p,q):
# Create the gcd of two positive integers.
    while q != 0:
        p, q = q, p%q
    return p
def is_coprime(x, y):
    return gcd(x, y) == 1
if is_coprime(n[0],n[1]):
  print('1')
else:
  print('0')

3 5

True

Given a number N, print the odd digits in the number(space seperated) or print -1 if there is no odd digit in the given number.
Input Size : N <= 100000
Sample Testcase :
INPUT
2143
OUTPUT
1 3

In [ ]:
n = input()
n = [int(i) for i in n]
odd = list(filter(lambda x : x%2 != 0, n))
# for i in odd:
#   strip(print(i,end = ""))
output = ' '.join([str(x) for x in odd])
if len(output)>=1:
  print(output)
else:
  print(-1)

2134
1 3

Pk finds it difficult to judge the minimum element in the list of elements given to him. Your task is to develop the algorithm in order to find the minimum element.

 

Note:Don’t use sorting
 

Input Description:
You are given ‘n’ number of elements. Next line contains n space separated numbers.

Output Description:
Print the minimum element

Sample Input :
5
3 4 9 1 6
Sample Output :
1

In [ ]:
n = input()
y = input()
y = [int(i) for i in y.split(" ")]
print(min(y))

5
3 4 9 1 6
1

Given a number N, print yes if the number is a multiple of 7 else print no.
Sample Testcase :
INPUT
49
OUTPUT
yes

In [ ]:
N = int(input())
if N%7 == 0:
  print('yes')
else:
  print('no')

49
yes

You are given a large number made of only 0’s and 1’s.Your task is to find the max no of consecutive 1’s. If there are no 1’s print -1

Input Description:
A large number ‘n’

Output Description:
Print the max no of consecutive 1 in the number

Sample Input :
101011111
Sample Output :
5

In [6]:
# Function to find Maximum length of consecutive 1's in a binary string

# def maxConsecutive1(input):
	# input.split('0') --> splits all sub-strings of consecutive 1's
	# separated by 0's, output will be like ['11','1111','1','1','111']
	# map(len,input.split('0')) --> map function maps len function on each
	# sub-string of consecutive 1's
	# max() returns maximum element from a list
	# print max(map(len,input.split('0')))

# Driver program
n = input()
n = [i for i in n.split('0')]
# print(n)
for i in n:
  max = 0
  if '1' in n:
    if len(i)>max:
      max = len(i)
    else:
      pass
if max == 0:
  print(-1)
else:
  print(max)

101011111
['1', '1', '11111']
5

Given a number N, find its next immediate greater power of 2(i.e 2^1, 2^2, 2^3...).
Input Size : N <= 1000
Sample Testcase :
INPUT
4
OUTPUT
8

In [7]:
n = int(input())
if n%2 == 0:
  print(n*2)

4
8

Given a number N, print 'yes' if it is a multiple of 13 else print 'no'.
Sample Testcase :
INPUT
26
OUTPUT
yes

In [ ]:
n = int(input())
if n%13 == 0:
  print('yes')
else:
  print('no')


Share
boy rolls an unbiased die until he gets ‘1’. You are given a number n find the total sum of probability that he will get ‘1’ on or before nth trial.(Probability of getting 1 at 1 time + probability of getting 1 at 2 trial….+probability of getting 1 at nth trial)

 

Constraints

1<=n<=1000

Input Description:
You are given a number ‘n’.

Output Description:
Print two numbers denoting numerator and denominator

Sample Input :
1
Sample Output :
1 6